esp32_iot/node_red1.json
[
    {
        "id": "1ec0a21f3604a711",
        "type": "tab",
        "label": "FreeRTOS",
        "disabled": false,
        "info": ""
    },
    {
        "id": "6253e2fca3e43cad",
        "type": "mqtt in",
        "z": "1ec0a21f3604a711",
        "name": "",
        "topic": "esp32/ADC",
        "qos": "1",
        "datatype": "auto",
        "broker": "2ba8bb5e7935c93b",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 130,
        "y": 80,
        "wires": [
            [
                "cf0477102b1f5a74"
            ]
        ]
    },
    {
        "id": "f958bfcdbfafc080",
        "type": "ui_gauge",
        "z": "1ec0a21f3604a711",
        "name": "",
        "group": "a139738a6814e2a9",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "ADC",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "3.3",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 670,
        "y": 140,
        "wires": []
    },
    {
        "id": "cf0477102b1f5a74",
        "type": "json",
        "z": "1ec0a21f3604a711",
        "name": "converter",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 300,
        "y": 80,
        "wires": [
            [
                "8fe851912e903be1",
                "7d29f532ec2d59ad"
            ]
        ]
    },
    {
        "id": "8fe851912e903be1",
        "type": "function",
        "z": "1ec0a21f3604a711",
        "name": "separa_campos",
        "func": "var analogico = {  payload : msg.payload.analogico } \n\n\nreturn [ analogico ];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 80,
        "wires": [
            [
                "fa449c8c798f0c30",
                "f958bfcdbfafc080",
                "c0f5687faebf50f9"
            ]
        ]
    },
    {
        "id": "fa449c8c798f0c30",
        "type": "debug",
        "z": "1ec0a21f3604a711",
        "name": "analogico",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 60,
        "wires": []
    },
    {
        "id": "6f5a289ceffba070",
        "type": "ui_chart",
        "z": "1ec0a21f3604a711",
        "name": "temperatura",
        "group": "14e9b2a51730b487",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "temperatura",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 870,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "dcf34c825966a21b",
        "type": "ui_gauge",
        "z": "1ec0a21f3604a711",
        "name": "",
        "group": "a139738a6814e2a9",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "temperatura",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 870,
        "y": 320,
        "wires": []
    },
    {
        "id": "616c5344151de55f",
        "type": "json",
        "z": "1ec0a21f3604a711",
        "name": "converter",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 280,
        "y": 320,
        "wires": [
            [
                "97956af4f05cd01e"
            ]
        ]
    },
    {
        "id": "97956af4f05cd01e",
        "type": "function",
        "z": "1ec0a21f3604a711",
        "name": "separa_campos",
        "func": "var temperatura = {  payload : msg.payload.temperatura } \nvar humidade = {  payload : msg.payload.humidade } \n\n\nreturn [ temperatura, humidade ];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 320,
        "wires": [
            [
                "e877816ac5267625",
                "6089ba716e6b034a"
            ],
            [
                "1cab036388018b4b",
                "20870bf8d29c9b10"
            ]
        ]
    },
    {
        "id": "d28cb72f02d52b07",
        "type": "mqtt in",
        "z": "1ec0a21f3604a711",
        "name": "",
        "topic": "esp32/sensor",
        "qos": "1",
        "datatype": "auto",
        "broker": "2ba8bb5e7935c93b",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 110,
        "y": 320,
        "wires": [
            [
                "616c5344151de55f"
            ]
        ]
    },
    {
        "id": "e877816ac5267625",
        "type": "change",
        "z": "1ec0a21f3604a711",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "temperatura °C",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 340,
        "wires": [
            [
                "6f5a289ceffba070",
                "dcf34c825966a21b"
            ]
        ]
    },
    {
        "id": "1cab036388018b4b",
        "type": "change",
        "z": "1ec0a21f3604a711",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "humidade %",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 380,
        "wires": [
            [
                "6f5a289ceffba070"
            ]
        ]
    },
    {
        "id": "6089ba716e6b034a",
        "type": "function",
        "z": "1ec0a21f3604a711",
        "name": "global_temperatura",
        "func": "global.set(\"temperatura\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 690,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "20870bf8d29c9b10",
        "type": "function",
        "z": "1ec0a21f3604a711",
        "name": "global_humidade",
        "func": "global.set(\"humidade\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 680,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "f22ac92c18167c39",
        "type": "mqtt in",
        "z": "1ec0a21f3604a711",
        "name": "",
        "topic": "esp32/out",
        "qos": "2",
        "datatype": "auto",
        "broker": "2ba8bb5e7935c93b",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 90,
        "y": 760,
        "wires": [
            [
                "86f0e7afb1fafe4d",
                "b4b8b59b98dae3a4"
            ]
        ]
    },
    {
        "id": "d390ab42c4e2e602",
        "type": "switch",
        "z": "1ec0a21f3604a711",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 600,
        "y": 700,
        "wires": [
            [
                "034e5c020a756879"
            ],
            [
                "5c59f0e0b9a48c6e"
            ]
        ]
    },
    {
        "id": "034e5c020a756879",
        "type": "change",
        "z": "1ec0a21f3604a711",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "1",
                "fromt": "num",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 810,
        "y": 680,
        "wires": [
            [
                "9996c9ad9ab17fc0"
            ]
        ]
    },
    {
        "id": "5c59f0e0b9a48c6e",
        "type": "change",
        "z": "1ec0a21f3604a711",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "0",
                "fromt": "num",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 810,
        "y": 740,
        "wires": [
            [
                "9996c9ad9ab17fc0"
            ]
        ]
    },
    {
        "id": "86f0e7afb1fafe4d",
        "type": "json",
        "z": "1ec0a21f3604a711",
        "name": "converter",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 250,
        "y": 760,
        "wires": [
            [
                "e4db481ffc67dbdf",
                "b4b8b59b98dae3a4"
            ]
        ]
    },
    {
        "id": "e4db481ffc67dbdf",
        "type": "function",
        "z": "1ec0a21f3604a711",
        "name": "separa_campos",
        "func": "var out1 = {  payload : msg.payload.OUT1 } \nvar out2 = {  payload : msg.payload.OUT2 } \nreturn [ out1, out2 ];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 760,
        "wires": [
            [
                "d390ab42c4e2e602"
            ],
            [
                "1e17826d5380264e"
            ]
        ]
    },
    {
        "id": "1e17826d5380264e",
        "type": "switch",
        "z": "1ec0a21f3604a711",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 600,
        "y": 820,
        "wires": [
            [
                "8db5da26b172e88e"
            ],
            [
                "9c8d98267a208ff6"
            ]
        ]
    },
    {
        "id": "8db5da26b172e88e",
        "type": "change",
        "z": "1ec0a21f3604a711",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "1",
                "fromt": "num",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 810,
        "y": 800,
        "wires": [
            [
                "84c6e09eb6d87f7b",
                "121d9c1a3dfd386a"
            ]
        ]
    },
    {
        "id": "9c8d98267a208ff6",
        "type": "change",
        "z": "1ec0a21f3604a711",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "0",
                "fromt": "num",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 810,
        "y": 860,
        "wires": [
            [
                "84c6e09eb6d87f7b",
                "121d9c1a3dfd386a"
            ]
        ]
    },
    {
        "id": "8e3da09be35e6876",
        "type": "comment",
        "z": "1ec0a21f3604a711",
        "name": "Leitura analógica",
        "info": "",
        "x": 140,
        "y": 40,
        "wires": []
    },
    {
        "id": "2e652551fa6e3f95",
        "type": "debug",
        "z": "1ec0a21f3604a711",
        "name": "resultado",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 1220,
        "wires": []
    },
    {
        "id": "7e29bdf089a5ea11",
        "type": "inject",
        "z": "1ec0a21f3604a711",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "600",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 1240,
        "wires": [
            [
                "0f1daae6bd8acc9a"
            ]
        ]
    },
    {
        "id": "0f1daae6bd8acc9a",
        "type": "function",
        "z": "1ec0a21f3604a711",
        "name": "INSERT",
        "func": " \nvar temperatura = global.get(\"temperatura\");\nvar humidade = global.get(\"humidade\");\n\nmsg.topic = \"INSERT INTO tempLog (temperature,humidity) VALUES (\"+temperatura+\",\"+humidade+\" );\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 340,
        "y": 1240,
        "wires": [
            [
                "38238991104e9062",
                "6bb7f9d6bfd58e43"
            ]
        ]
    },
    {
        "id": "38238991104e9062",
        "type": "mysql",
        "z": "1ec0a21f3604a711",
        "mydb": "",
        "name": "conexao_mysql",
        "x": 520,
        "y": 1240,
        "wires": [
            [
                "2e652551fa6e3f95"
            ]
        ]
    },
    {
        "id": "e30baa3b6def6e96",
        "type": "inject",
        "z": "1ec0a21f3604a711",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 1340,
        "wires": [
            [
                "7dcab26dd67ea55c"
            ]
        ]
    },
    {
        "id": "7dcab26dd67ea55c",
        "type": "function",
        "z": "1ec0a21f3604a711",
        "name": "SELECT",
        "func": "msg.topic = \"SELECT temperature as temperatura, humidity as humidade, timeStamp as timeStamp FROM tempLog where timeStamp >= now() - 84600;\"\nreturn msg;\n\n//msg.topic = \"SELECT * FROM tempLog where timeStamp >= now() - 84600;\"\n\n//msg.topic = \"SELECT temperature as temperatura, humidity as humidade, timeStamp FROM tempLog where timeStamp >= now() - 84600;\"\n\n//msg.topic = \"INSERT INTO tempLog (temperature,humidity) VALUES (\"+temperatura+\",\"+humidade+\" );\"\n\n//SELECT MAX(\"producaocatanduva\") as producao, time FROM \"Solar_IFSP\"  WHERE time >= now() - 30d GROUP BY time(1d)",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 340,
        "y": 1340,
        "wires": [
            [
                "13dbe77c2aa93403"
            ]
        ]
    },
    {
        "id": "13dbe77c2aa93403",
        "type": "mysql",
        "z": "1ec0a21f3604a711",
        "mydb": "",
        "name": "conexao_mysql",
        "x": 520,
        "y": 1340,
        "wires": [
            [
                "23eb0f085e841665",
                "3ba79a2cd4466918"
            ]
        ]
    },
    {
        "id": "99fba243a9399a9c",
        "type": "comment",
        "z": "1ec0a21f3604a711",
        "name": "Mysql: Select últimos 10 dados para grafico e tabela",
        "info": "",
        "x": 290,
        "y": 1300,
        "wires": []
    },
    {
        "id": "23eb0f085e841665",
        "type": "change",
        "z": "1ec0a21f3604a711",
        "name": "Format data",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "(\t  $series := [\t    { \"label\": \"temperatura (°C)\" , \"field\": \"temperatura\"  },\t    {  \"label\": \"humidade (%)\", \"field\": \"humidade\" }\t\t  ];\t  $xaxis := \"timeStamp\";\t  [\t    {\t      \"series\": $series.label,\t      \"data\": $series.[\t        (\t          $yaxis := $.field;\t          $$.payload.{\t            \"x\": $lookup($, $xaxis),\t            \"y\": $lookup($, $yaxis)\t          }\t        )\t      ]\t    }\t  ]\t)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 730,
        "y": 1340,
        "wires": [
            [
                "2fd8ab99b46f6c7a"
            ]
        ]
    },
    {
        "id": "2fd8ab99b46f6c7a",
        "type": "ui_chart",
        "z": "1ec0a21f3604a711",
        "name": "24 hours data",
        "group": "3c1b09fa4c168fdf",
        "order": 1,
        "width": 11,
        "height": 4,
        "label": "Gráfico temperatura humidade",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "24",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#00e68c",
            "#2d2da8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 920,
        "y": 1340,
        "wires": [
            []
        ]
    },
    {
        "id": "925e2fb7557d49b4",
        "type": "comment",
        "z": "1ec0a21f3604a711",
        "name": "Grava numero aleatorio em mysql",
        "info": "",
        "x": 230,
        "y": 1200,
        "wires": []
    },
    {
        "id": "3ba79a2cd4466918",
        "type": "debug",
        "z": "1ec0a21f3604a711",
        "name": "dados mysql",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 1300,
        "wires": []
    },
    {
        "id": "e7c2cce7b7313f29",
        "type": "mysql",
        "z": "1ec0a21f3604a711",
        "mydb": "",
        "name": "conexao_mysql",
        "x": 540,
        "y": 1560,
        "wires": [
            [
                "925ef4818054705e"
            ]
        ]
    },
    {
        "id": "9ee4395c6d8ca30b",
        "type": "function",
        "z": "1ec0a21f3604a711",
        "name": "DELET",
        "func": "\nmsg.topic = \"Delete  FROM tempLog ;\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 360,
        "y": 1560,
        "wires": [
            [
                "e7c2cce7b7313f29"
            ]
        ]
    },
    {
        "id": "925ef4818054705e",
        "type": "debug",
        "z": "1ec0a21f3604a711",
        "name": "dados mysql",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 1560,
        "wires": []
    },
    {
        "id": "e11d20d66db4044f",
        "type": "inject",
        "z": "1ec0a21f3604a711",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 1560,
        "wires": [
            [
                "9ee4395c6d8ca30b"
            ]
        ]
    },
    {
        "id": "a843804163964050",
        "type": "inject",
        "z": "1ec0a21f3604a711",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 1440,
        "wires": [
            [
                "dcdff94ce0c2a2ac"
            ]
        ]
    },
    {
        "id": "dcdff94ce0c2a2ac",
        "type": "function",
        "z": "1ec0a21f3604a711",
        "name": "SELECT",
        "func": "\nmsg.topic = \"SELECT * FROM tempLog order by timeStamp DESC limit 10;\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 340,
        "y": 1440,
        "wires": [
            [
                "28f5027aa4737047"
            ]
        ]
    },
    {
        "id": "28f5027aa4737047",
        "type": "mysql",
        "z": "1ec0a21f3604a711",
        "mydb": "",
        "name": "conexao_mysql",
        "x": 520,
        "y": 1440,
        "wires": [
            [
                "046eb6493b4508e9"
            ]
        ]
    },
    {
        "id": "046eb6493b4508e9",
        "type": "ui_template",
        "z": "1ec0a21f3604a711",
        "group": "6a4e2e67017b39e7",
        "name": "Tabela com style",
        "order": 1,
        "width": 11,
        "height": 7,
        "format": "<div layout=\"row\" layout-align=\"start center\">\n  <span flex>Hora</span>\n  <span flex>temperatura</span>\n  <span flex>humidade</span>\n</div>\n<div layout=\"row\" layout-align=\"start center\" ng-repeat=\"row in msg.payload\">\n  <span flex style=\"color: green\">{{row.timeStamp}}</span>\n  <span flex style=\"color: red\">{{row.temperature}} °C</span>\n  <span flex style=\"color: black\">{{row.humidity}}%</span>\n\n</div>\n ",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 750,
        "y": 1440,
        "wires": [
            []
        ]
    },
    {
        "id": "e8992ca37aad8da3",
        "type": "comment",
        "z": "1ec0a21f3604a711",
        "name": "Mysql: Select últimos 10 dados para grafico e tabela",
        "info": "",
        "x": 290,
        "y": 1400,
        "wires": []
    },
    {
        "id": "b4b8b59b98dae3a4",
        "type": "debug",
        "z": "1ec0a21f3604a711",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 390,
        "y": 680,
        "wires": []
    },
    {
        "id": "6bb7f9d6bfd58e43",
        "type": "debug",
        "z": "1ec0a21f3604a711",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 1140,
        "wires": []
    },
    {
        "id": "9996c9ad9ab17fc0",
        "type": "ui_led",
        "z": "1ec0a21f3604a711",
        "order": 1,
        "group": "e20cd85b889eb118",
        "width": 3,
        "height": 1,
        "label": "Output 1",
        "labelPlacement": "left",
        "labelAlignment": "center",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#54ff22",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": false,
        "name": "OUT1",
        "x": 1080,
        "y": 740,
        "wires": []
    },
    {
        "id": "84c6e09eb6d87f7b",
        "type": "ui_led",
        "z": "1ec0a21f3604a711",
        "order": 2,
        "group": "e20cd85b889eb118",
        "width": 3,
        "height": 1,
        "label": "Saida 2",
        "labelPlacement": "left",
        "labelAlignment": "center",
        "colorForValue": [
            {
                "color": "#f50a51",
                "value": "true",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "false",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "OUT2",
        "x": 1070,
        "y": 840,
        "wires": []
    },
    {
        "id": "53a1973383b7ac50",
        "type": "mqtt out",
        "z": "1ec0a21f3604a711",
        "name": "",
        "topic": "IFSP/led",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "2ba8bb5e7935c93b",
        "x": 340,
        "y": 560,
        "wires": []
    },
    {
        "id": "5d1061a93552b2c1",
        "type": "ui_button",
        "z": "1ec0a21f3604a711",
        "name": "Ligar Led IFSP",
        "group": "e20cd85b889eb118",
        "order": 3,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Ligar Led IFSP",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "on",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 120,
        "y": 520,
        "wires": [
            [
                "53a1973383b7ac50"
            ]
        ]
    },
    {
        "id": "bbb4fa3f409df077",
        "type": "ui_button",
        "z": "1ec0a21f3604a711",
        "name": "Desligar Led IFSP",
        "group": "e20cd85b889eb118",
        "order": 4,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Desligar Led IFSP",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "off",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 130,
        "y": 560,
        "wires": [
            [
                "53a1973383b7ac50"
            ]
        ]
    },
    {
        "id": "729d4506610e6346",
        "type": "mqtt in",
        "z": "1ec0a21f3604a711",
        "name": "",
        "topic": "IFSP/led",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "2ba8bb5e7935c93b",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 420,
        "wires": [
            [
                "4b8f4a130c215783"
            ]
        ]
    },
    {
        "id": "4b8f4a130c215783",
        "type": "debug",
        "z": "1ec0a21f3604a711",
        "name": "debug 34",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 240,
        "y": 420,
        "wires": []
    },
    {
        "id": "7d29f532ec2d59ad",
        "type": "debug",
        "z": "1ec0a21f3604a711",
        "name": "debug 35",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 140,
        "wires": []
    },
    {
        "id": "121d9c1a3dfd386a",
        "type": "debug",
        "z": "1ec0a21f3604a711",
        "name": "debug 36",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1040,
        "y": 900,
        "wires": []
    },
    {
        "id": "d3a5376a3275870e",
        "type": "comment",
        "z": "1ec0a21f3604a711",
        "name": "Leitura de sensor",
        "info": "",
        "x": 130,
        "y": 260,
        "wires": []
    },
    {
        "id": "3895a2c66fd6fd9a",
        "type": "comment",
        "z": "1ec0a21f3604a711",
        "name": "Led ESP32",
        "info": "",
        "x": 350,
        "y": 520,
        "wires": []
    },
    {
        "id": "c0f5687faebf50f9",
        "type": "ui_chart",
        "z": "1ec0a21f3604a711",
        "name": "",
        "group": "14e9b2a51730b487",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "ADC",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 670,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "42457adee6817586",
        "type": "ui_spacer",
        "z": "1ec0a21f3604a711",
        "name": "spacer",
        "group": "3c1b09fa4c168fdf",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "db7deaa7f30905a1",
        "type": "ui_spacer",
        "z": "1ec0a21f3604a711",
        "name": "spacer",
        "group": "3c1b09fa4c168fdf",
        "order": 3,
        "width": 1,
        "height": 1
    },
    {
        "id": "62c0b8742b770c83",
        "type": "ui_spacer",
        "z": "1ec0a21f3604a711",
        "name": "spacer",
        "group": "3c1b09fa4c168fdf",
        "order": 4,
        "width": 1,
        "height": 1
    },
    {
        "id": "55b5ca4c4debc986",
        "type": "ui_spacer",
        "z": "1ec0a21f3604a711",
        "name": "spacer",
        "group": "3c1b09fa4c168fdf",
        "order": 5,
        "width": 1,
        "height": 1
    },
    {
        "id": "2ba8bb5e7935c93b",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "ESP32Client",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "a139738a6814e2a9",
        "type": "ui_group",
        "name": "Sensor",
        "tab": "3046f6ea24ac700b",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "14e9b2a51730b487",
        "type": "ui_group",
        "name": "Gráficos",
        "tab": "3046f6ea24ac700b",
        "order": 3,
        "disp": true,
        "width": 7,
        "collapse": false
    },
    {
        "id": "3c1b09fa4c168fdf",
        "type": "ui_group",
        "name": "grafico_mysql",
        "tab": "3046f6ea24ac700b",
        "order": 4,
        "disp": true,
        "width": 12,
        "collapse": false
    },
    {
        "id": "6a4e2e67017b39e7",
        "type": "ui_group",
        "name": "Tabela mysql",
        "tab": "3046f6ea24ac700b",
        "order": 5,
        "disp": true,
        "width": 11,
        "collapse": false
    },
    {
        "id": "e20cd85b889eb118",
        "type": "ui_group",
        "name": "LEDs",
        "tab": "3046f6ea24ac700b",
        "order": 1,
        "disp": true,
        "width": 3,
        "collapse": false,
        "className": ""
    },
    {
        "id": "3046f6ea24ac700b",
        "type": "ui_tab",
        "name": "FreeRtos",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]
